[Unit]
Description=Stremio Subdivx Addon
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm -f stremio-subdivx
ExecStart=/srv/apps/stremio-subdivx/deploy/start-tunnel.sh
ExecStop=/usr/bin/docker stop stremio-subdivx

[Install]
WantedBy=multi-user.target
